body {
  background-color:  lavender
}
h1 {
  color:purple;
   text-align: center;
  @import url(https://fonts.googleapis.com/css?family=Indie+Flower);
  font-family: Indie Flower;
style="font-size:500%;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  border: solid 10px light blue;
}

 table, th, td {
  border: 1px solid black;
  border-collapse: 1 
     border-collapse: collapse;
 
}

tr:nth-child(odd) {
  background-color: purple;
}

table {border-collapse: collapse;
  width: 100%;
}

th, tr, td{
  border: dashed 2px black;
}



